@using ShopQuanAo.Models;
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.title = "Trang Đăng Nhập";
}
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="~/Home">Home</a></li>
                <li class='active'>Đăng ký</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content">
    <div class="container">
        <div class="sign-in-page">
            <div class="row">
                <!-- Sign-in -->
                <div class="col-md-6 col-sm-6 create-new-account">
                    <h4 class="checkout-subtitle">Tạo tài khoản mới</h4>
                    
                    <form class="register-form outer-top-xs" role="form" method="post" action="/Login/DangKy">
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail2">Địa chỉ Email<span>*</span></label>
                            <input type="email" name="email" class="form-control unicase-form-control text-input" id="exampleInputEmail2">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail1">Họ và tên <span>*</span></label>
                            <input type="text" name="name_user" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail1">Số điện thoại <span>*</span></label>
                            <input type="text" name="phonenumber" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail1">Mật khẩu <span>*</span></label>
                            <input type="password" name="pass" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
                        </div>
                        <div class="form-group">
                            <label class="info-title" for="exampleInputEmail1">Nhập lại mật khẩu <span>*</span></label>
                            <input type="password" name="pass1" class="form-control unicase-form-control text-input" id="exampleInputEmail1">
                        </div>
                        <p style="color:red">@TempData["errorr"]</p>

                        <button type="submit" class="btn-upper btn btn-primary checkout-page-button">Đăng kí</button>
                        <a href="~/Login/index" class="btn-upper btn btn-primary checkout-page-button dky">Đăng nhập</a>
                    </form>
                </div>
                <!-- Sign-in -->
                <!-- create a new account -->
                <!-- create a new account -->
            </div><!-- /.row -->
        </div><!-- /.sigin-in-->
        <!-- ============================================== BRANDS CAROUSEL ============================================== -->
        <div id="brands-carousel" class="logo-slider wow fadeInUp">

            <div class="logo-slider-inner">
                <div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
                    <div class="item m-t-15">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item m-t-10">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand3.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand6.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->

                    <div class="item">
                        <a href="#" class="image">
                            <img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
                        </a>
                    </div><!--/.item-->
                </div><!-- /.owl-carousel #logo-slider -->
            </div><!-- /.logo-slider-inner -->

        </div><!-- /.logo-slider -->
        <!-- ============================================== BRANDS CAROUSEL : END ============================================== -->
    </div><!-- /.container -->
</div>
<style>
    .sign-in-page {
        width: 80%;
        margin: auto;
    }

    .col-md-6 {
        width: 80%;
        margin-left:80px;
    }

    .col-md-6.col-sm-6.sign-in {
            width: 80%;
            margin-left: 70px;
        }

    a.twitter-sign-in {
        float: right;
    }

    button.btn-upper.btn.btn-primary.checkout-page-button {
        margin-left: 70px;
    }

    a.btn-upper.btn.btn-primary.checkout-page-button.dky {
        float: right;
        margin-right: 70px;
    }
</style>